

.wn2 {
  width:100%;
  margin-top:20px;
  background:#fff;
  border-radius:1px;
  border:solid 1px #000; 

}


.wn2 p{

	font-size:18px;

}
.title strong{

	font-size:18px;
	
}

.list {

	margin-top:15px;
	margin-left:25px;
	font-size:16px;

}

.list td{

	font-size:16px;
	
	}



/*
#main{
  width: 550px;
  float: left;
}

.clear { clear:both; }  
.clear hr { display:none; }  


#side{
  width: 550px;
  float: right;
  background:#ff0;
}
*/
